body {
    padding-bottom: 5em;
    background-image: url("../../images/login/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.img-avatar {
    max-height: 50px;
    width: auto;
    padding-right: 0.25em;
}

.container {
    margin-left: 280px;
}