body {
    background-image: url("../../images/login/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.img-avatar {
    max-height: 50px;
    width: auto;
    padding-right: 0.25em;
}

@media (max-width: 575.98px) {
    #mainNav {
        position: absolute;
        left: -280px;
        z-index: 9999;
        transition: left 0.5s ease;
        background-color: rgba(255,255,255,1) !important;
    }
    .show_menu #mainNav {
        left: 10px;
    }
}
@media (min-width: 576px) {
    .container {
        margin-left: 280px;
    }
    .tooltip .container {
        margin-left: 0!important;
    }
}
