body {
    min-height: 75rem;
    overflow-y: hidden;
    background-image: url("../../images/login/background.jpg");
}

.img-avatar {
    max-height: 50px;
    width: auto;
    padding-right: 0.25em;
}