body {
    background-image: url("../../images/login/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.img-avatar {
    max-height: 50px;
    width: auto;
    padding-right: 0.25em;
}

@media (min-width: 576px) {
    .container {
        margin-left: 280px;
    }
    .tip .container {
        margin-left: 0!important;
    }
}

.img-header {
    height: 50px;
}

.tooltip_clicky {
    cursor: pointer;
}

.table-wrap {
    word-wrap: anywhere;
}

.cursor-pointer {
    cursor:pointer;
}

.toast-container {
    top: 8em;
    right: 5em;
    left:initial;
}