.res-item {
    font-size: 0.8rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
}

.solar-system {
    width: 100%;
    height: 35em;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.sun {
    width: 9em;
    height: 9em;
    border: 1px solid black;
    border-radius: 100em;
    position: absolute;
    left: 4em;
    top: 4em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: orangered;
    z-index: 2;
}

.sun img {
    width: 100%;
    height: 100%;
    border-radius: 100em;
}

.planet-ring {
    border: 1px dotted #5b5b5b;
    border-radius: 100em;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 4em;
    top: 4em;
    z-index: 1;
}

.planet-ring-1 {
    width: 10em;
    height: 10em;
}

.planet-ring-2 {
    width: 14em;
    height: 14em;
}

.planet-ring-3 {
    width: 18em;
    height: 18em;
}

.planet-ring-4 {
    width: 22em;
    height: 22em;
}

.planet-ring-5 {
    width: 26em;
    height: 26em;
}

.planet-ring-6 {
    width: 30em;
    height: 30em;
}

.planet-ring-7 {
    width: 34em;
    height: 34em;
}

.planet-ring-8 {
    width: 38em;
    height: 38em;
}

.planet-ring-9 {
    width: 42em;
    height: 42em;
}

.planet-ring-10 {
    width: 46em;
    height: 46em;
}

.planet-ring-11 {
    width: 50em;
    height: 50em;
}

.planet-ring-12 {
    width: 54em;
    height: 54em;
}

.planet-ring-13 {
    width: 58em;
    height: 58em;
}

.planet-ring-14 {
    width: 62em;
    height: 62em;
}

.planet-ring-15 {
    width: 66em;
    height: 66em;
}

.planet-ring-16 {
    width: 70em;
    height: 70em;
}

.planet {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100em;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 2;
    background-color: #393939;
}

.planet img {
    border-radius: 100em;
    width: 100%;
    height: 100%;
}

.planet-1 {
    left: 5em;
    top: 9em
}

.planet-2 {
    top: 6em;
    left: 11em;
}

.planet-3 {
    top: 13em;
    left: 5em;
}

.planet-4 {
    top: 6em;
    left: 15em;
}

.planet-5 {
    top: 12em;
    left: 14em;
}

.planet-6 {
    top: 18em;
    left: 9em;
}

.planet-7 {
    top: 17em;
    left: 15em;
}

.planet-8 {
    top: 12em;
    left: 21em;
}

.planet-9 {
    top: 23em;
    left: 13em;
}

.planet-10 {
    top: 17em;
    left: 23em
}

.planet-11 {
    left: 8em;
    top: 29em;
}

.planet-12 {
    top: 24em;
    left: 22em;
}

.planet-13 {
    top: 31em;
    left: 15em
}

.planet-14 {
    top: 22em;
    left: 29em
}

.planet-15 {
    top: 30em;
    left: 24em;
}

.moon {
    transform: translate(0%,-150%);
    width: 32px;
    height: 32px;
}

.own-planet {
    border: 2px solid blue;
}

.ally-planet {
    border: 2px solid green;
}

.other-planet {
    border: 2px solid grey;
}

.target {
    position: absolute;
    bottom: 1em;
    border: 1px solid gray;
    padding: 0.5em;
    border-radius: 100em;
}

.target-expedition {
    right: 7em
}


.target-market {
    right: 5em;
    bottom: 5em;
}

.winner {
    color: darkgreen;
    font-weight: bold;
}

.loser {
    color: darkred;
}